.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/examples.txt

build

/tmp

.bundle/
log/*.log
pkg/

# Yard generated documentation
.yardoc
/doc
spec/examples.txt

Gemfile.lock
Gemfile.local.rb
