.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/examples.txt

.bundle/
log/*.log
pkg/
spec/dummy

# Yard generated documentation
.yardoc
/doc
spec/examples.txt
