--embed-mixin ClassMethods
--readme           README.md
--template-path    yard
--default-return   ""
--files            'lib/**/*.rb'
--title            "Pagescript Documentation"
--hide-void-return
--protected
--no-private
--no-highlight
-
MIT-LICENSE
CONTRIBUTING.md
DEVELOPMENT.md
