<div class="haikus">
  <article>
    <p>Summer night -</br>
    even the stars</br>
    are whispering to each other.</p>
  </article>

  <article>
    <p>From time to time</br>
    The clouds give rest</br>
    To the moon-beholders.</p>
  </article>
</div>
